force-app/main/default/flows/customer_review_of_solar_panels.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>StackRank_Assignment</name>
        <label>StackRank_Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>q_a08970d3_af38_403f_949c_177998f1d72c_rank</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{&quot;rankId&quot;:&quot;q_a08970d3_af38_403f_949c_177998f1d72c_rank0&quot;,&quot;rankText&quot;:&quot;{!q_a08970d3_af38_403f_949c_177998f1d72c_rank0}&quot;}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>q_a08970d3_af38_403f_949c_177998f1d72c_rank</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{&quot;rankId&quot;:&quot;q_a08970d3_af38_403f_949c_177998f1d72c_rank1&quot;,&quot;rankText&quot;:&quot;{!q_a08970d3_af38_403f_949c_177998f1d72c_rank1}&quot;}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>q_a08970d3_af38_403f_949c_177998f1d72c_rank</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{&quot;rankId&quot;:&quot;q_a08970d3_af38_403f_949c_177998f1d72c_rank2&quot;,&quot;rankText&quot;:&quot;{!q_a08970d3_af38_403f_949c_177998f1d72c_rank2}&quot;}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>q_a08970d3_af38_403f_949c_177998f1d72c_rank</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{&quot;rankId&quot;:&quot;q_a08970d3_af38_403f_949c_177998f1d72c_rank3&quot;,&quot;rankText&quot;:&quot;{!q_a08970d3_af38_403f_949c_177998f1d72c_rank3}&quot;}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>welcome_page</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>c_130dbaf5_cf8f_4ae5_8897_cd3998f13c52</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_167c3b20_0109_45c2_88df_442b2e4bbae2</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_63039a9e_f9af_4b60_b16e_214d472ccd2d</name>
        <choiceText>Faulty change controller</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Faulty change controller</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_6dfbfc28_3f0a_4953_b016_25ca909accd8</name>
        <choiceText>Not weather-resistant</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not weather-resistant</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_aa62b646_3ba7_4250_afc0_7aebc89558f2</name>
        <choiceText>Faulty installation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Faulty installation</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_be240657_a8ea_4000_bcc4_d87841cbf185</name>
        <choiceText>High maintenance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>High maintenance</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_cdc3cc89_f64d_4a04_b6b5_f57e53559e82</name>
        <choiceText>Bad</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_d6e60c51_9c11_4490_aa11_90f3212fb2d8</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_dc8c4fe8_612f_4903_ab3b_647e6622fc3d</name>
        <choiceText>Good</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <decisions>
        <name>d_1536ecb7_f2ec_492d_9fb3_4d6771b92b47</name>
        <label>my_decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>p_07976d02_3877_4379_a01a_1a471bfa7d07</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Next Page</defaultConnectorLabel>
        <rules>
            <name>r_2634787d_83b3_486f_9559_71179a0543c2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_68a5285c_2faa_4416_89fd_19406665ac7b</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>p_15a96b6e_7159_446f_8e30_e97a6e5cc875</targetReference>
            </connector>
            <label>my_rule</label>
        </rules>
    </decisions>
    <interviewLabel>Customer Review of Solar Panels</interviewLabel>
    <label>Customer Review of Solar Panels</label>
    <processMetadataValues>
        <name>BrandingSet</name>
        <value>
            <stringValue>survey_db29e01f_fae9_47c0_a0f8_4c8ea684fb37</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>hasWelcomePage</name>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>overrideActiveVersion</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processType>Survey</processType>
    <screens>
        <name>p_07976d02_3877_4379_a01a_1a471bfa7d07</name>
        <label>Suggest Improvements</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_15a96b6e_7159_446f_8e30_e97a6e5cc875</targetReference>
        </connector>
        <fields>
            <name>q_8623c9ff_be89_4ee4_a2df_8aecf4ca7748</name>
            <choiceReferences>c_63039a9e_f9af_4b60_b16e_214d472ccd2d</choiceReferences>
            <choiceReferences>c_aa62b646_3ba7_4250_afc0_7aebc89558f2</choiceReferences>
            <choiceReferences>c_be240657_a8ea_4000_bcc4_d87841cbf185</choiceReferences>
            <choiceReferences>c_6dfbfc28_3f0a_4953_b016_25ca909accd8</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Why didn’t you like our solar panels?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>Survey paused. To pick up where you left off, refresh this page or click the link in your survey invitation.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_15a96b6e_7159_446f_8e30_e97a6e5cc875</name>
        <label>Rank and Recommend</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <processMetadataValues>
                <name>questionType</name>
                <value>
                    <stringValue>StackRank</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rank</name>
                <value>
                    <elementReference>q_a08970d3_af38_403f_949c_177998f1d72c_rank</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>weights</name>
                <value>
                    <stringValue>[4,3,2,1]</stringValue>
                </value>
            </processMetadataValues>
            <name>q_a08970d3_af38_403f_949c_177998f1d72c</name>
            <dataType>String</dataType>
            <extensionName>survey:cmpInputRuntimeStackRank</extensionName>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Rank which features of the solar panels are the most useful&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_6ff6b649_c063_439d_a8f9_86da03787a71_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>max</name>
                <value>
                    <stringValue>10</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>min</name>
                <value>
                    <stringValue>0</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>questionType</name>
                <value>
                    <stringValue>NPS</stringValue>
                </value>
            </processMetadataValues>
            <name>q_6ff6b649_c063_439d_a8f9_86da03787a71</name>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeNps</extensionName>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Would you recommend our solar panels to your friends and family?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <pausedText>Survey paused. To pick up where you left off, refresh this page or click the link in your survey invitation.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_c9d927d0_4c0c_4e05_b1d4_a0b5ebd8d77d</name>
        <label>Rate and Score</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>d_1536ecb7_f2ec_492d_9fb3_4d6771b92b47</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_7cc07c92_4931_4c64_93b2_b6675e503ad9_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_7cc07c92_4931_4c64_93b2_b6675e503ad9</name>
            <choiceReferences>c_cdc3cc89_f64d_4a04_b6b5_f57e53559e82</choiceReferences>
            <choiceReferences>c_167c3b20_0109_45c2_88df_442b2e4bbae2</choiceReferences>
            <choiceReferences>c_130dbaf5_cf8f_4ae5_8897_cd3998f13c52</choiceReferences>
            <choiceReferences>c_d6e60c51_9c11_4490_aa11_90f3212fb2d8</choiceReferences>
            <choiceReferences>c_dc8c4fe8_612f_4903_ab3b_647e6622fc3d</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;span style=&quot;font-family: monospace;&quot;&gt;Rate your experience with the solar panel installation&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_68a5285c_2faa_4416_89fd_19406665ac7b_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>max</name>
                <value>
                    <stringValue>5</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>min</name>
                <value>
                    <stringValue>0</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>questionType</name>
                <value>
                    <stringValue>CSAT</stringValue>
                </value>
            </processMetadataValues>
            <name>q_68a5285c_2faa_4416_89fd_19406665ac7b</name>
            <dataType>Number</dataType>
            <extensionName>survey:cmpInputRuntimeCsat</extensionName>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;span style=&quot;font-family: monospace;&quot;&gt;Score our solar panels&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <pausedText>Survey paused. To pick up where you left off, refresh this page or click the link in your survey invitation.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>welcome_page</name>
        <label>Welcome Page</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>p_c9d927d0_4c0c_4e05_b1d4_a0b5ebd8d77d</targetReference>
        </connector>
        <fields>
            <name>welcome_question</name>
            <extensionName>survey:runtimeWelcome</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>{!welcome_question_lref_tt}</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>description</name>
                <value>
                    <stringValue>{!welcome_question_dref_tt}</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>StackRank_Assignment</startElementReference>
    <status>Draft</status>
    <textTemplates>
        <name>q_a08970d3_af38_403f_949c_177998f1d72c_rank0</name>
        <text>Low Maintenance</text>
    </textTemplates>
    <textTemplates>
        <name>q_a08970d3_af38_403f_949c_177998f1d72c_rank1</name>
        <text>Protects Your Roof</text>
    </textTemplates>
    <textTemplates>
        <name>q_a08970d3_af38_403f_949c_177998f1d72c_rank2</name>
        <text>Constant Power  Source</text>
    </textTemplates>
    <textTemplates>
        <name>q_a08970d3_af38_403f_949c_177998f1d72c_rank3</name>
        <text>Highly Durable</text>
    </textTemplates>
    <textTemplates>
        <name>thankYouDescriptionTextTemplate</name>
        <text/>
    </textTemplates>
    <textTemplates>
        <name>thankYouLabelTextTemplate</name>
        <text>&lt;p&gt;&lt;span style=&quot;font-family: monospace;&quot;&gt;Thank you for helping us make everyone&#39;s day a little brighter!&lt;/span&gt;&lt;b style=&quot;font-family: monospace;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/b&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>welcome_question_dref_tt</name>
        <text>Survey for customer satisfaction about solar panel installation.</text>
    </textTemplates>
    <textTemplates>
        <name>welcome_question_lref_tt</name>
        <text>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;span style=&quot;font-family: monospace;&quot;&gt;Please tell us about your recent experience with Ursa Major Solar so we can help the sun shine on all our customers!&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>guestUserLang</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>invitationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
    <variables>
        <name>previewMode</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>q_a08970d3_af38_403f_949c_177998f1d72c_rank</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>thankYouDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouDescriptionTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>thankYouLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouLabelTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>var_q_68a5285c_2faa_4416_89fd_19406665ac7b_defaultValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>var_q_6ff6b649_c063_439d_a8f9_86da03787a71_defaultValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>var_q_7cc07c92_4931_4c64_93b2_b6675e503ad9_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
